<div ng-controller="messagesController">
	<!-- Application's main menu -->
	<header id="header" class="">
		
	</header>

	<!-- User's channels list -->
	<div id="channels-list">
		<span class="list-header">Channels</span>
		<ul>
			<li ng-repeat="channel in user.channels">{{channel}}</li>
		</ul>
	</div>

	<!-- User's direct messages list -->
	<div id="direct-messages-list">
		<span class="list-header">Direct Messages</span>
		<ul>
			<li ng-repeat="message in user.directMessages">{{message}}</li>
		</ul>
	</div>
	<div id="chat-window"></div>
</div>