<div ng-controller="messagesController">
	<div id="top-header" class="row">
		<!-- Profile area -->
		<div class="sidebar hidden-xs col-lg-2 col-md-2 col-sm-3" id="profile-dropdown-menu-toggle" ng-click="toggleShow()">
			<div id="profile-area">
				<div class="media">
					<div class="media-left">
				    	<img class="media-object" src="{{user.photoUrl}}" alt="{{user.nickName}} profile picture">
				  	</div>
				</div>
				<div class="status {{user.status}}"></div>
			    <div class="nickname">{{user.nickName}}</div>
			</div>
			<div id="profile-dropdown-menu" ng-show="showDropdown">
				<ul>
					<li>Edit your profile<span class="right glyphicon glyphicon-edit"></span></li>
					<li ng-click="changeStatus()"><span ng-show="user.status == 'away'">[Away]- </span>Set yourself to <span class="bold">{{oppositeStatus}}</span><span class="right glyphicon glyphicon-sunglasses"></span></li>
					<li role="separator" class="divider"></li>
					<li>Statistics<span class="right glyphicon glyphicon-stats"></span></li>
					<li role="separator" class="divider"></li>
					<li ng-click="logout()">Sign out<span class="right glyphicon glyphicon-log-out"></span></li>
				</ul>
			</div>
		</div>
		<!-- Main activity menu -->
		<div id="main-header" class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
			<header id="gotcha-header">
				<span id="mobile-menu-icon" class="left visible-xs col-xs-2 glyphicon glyphicon-menu-hamburger"></span>
				<div class="chat-header left col-lg-9 col-md-9 col-sm-9 col-xs-10">
					<div class="chat-title left">
						<h5 id="chat-name-container" class="chat-name-container bold">
							<span class="chat-name" ng-show="isChannel"><span class="italic">&#35;</span> {{activeChat.name}}</span>
							<span class="chat-name" ng-show="isDirectMessage"><span class="italic">&#64;</span> {{activeChat.user.nickName}}</span>
						</h5>
						<div class="chat-header-info" ng-show="isChannel">
							<div class="chat-header-info-item chat-members"><span id="header-member-count" class="icon glyphicon glyphicon-user" ng-click="showSubscribers()"></span>{{isChannel ? length(activeChat.subscribers) : 0}}</div>
							<div class="chat-header-info-item chat-purpose">{{activeChat.description}}</div>
							<div ng-show="showSubscribersList" id="channel-subscribers-list">
								<ul>
									<span class="bold">Members <span>({{isChannel ? length(activeChat.subscribers) : 0}})</span></span>
									<li ng-repeat="user in activeChat.subscribers">
										<div class="left">
											<div class="media-left photo left">
										    	<img class="user-photo media-object" ng-src="{{user.photoUrl}}" alt="{{user.nickName}} profile picture">
										  		<div class="right status {{user.status}}"></div>
										  	</div>
											<div class="bold user-nickname">{{user.nickName}}</div>
											<div class="user-description">{{user.description}}</div>
						  				</div>
						  				<div class="right chat icon glyphicon glyphicon-comment" ng-click="openDirectMessage(user.nickName)"></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="chat-header-info" ng-show="isDirectMessage">
							<div class="chat-header-info-item"><span id="other-user-status" class="status {{activeChat.user.status}}"></span> {{activeChat.user.status}}<span class="last-seen-time" ng-show="activeChat.user.status == 'away'">- last seen: {{activeChat.user.lastSeen}}</span></div>
							<div class="chat-header-info-item">{{activeChat.user.description}}</div>
						</div>
					</div>
					<div class="hidden-xs divider-bar right"></div>
					<div class="hidden-xs chat-header-actions right">
						<div class="icon right"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
						<div class="icon right"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
					</div>
				</div>
				<div class="hidden-xs global-header col-lg-3 col-md-3 col-sm-3">
					<div id="search-container" class="col-lg-10 col-md-10 col-sm-10">
						<form role="search" accept-charset="utf-8" id="global-search-form">
							<div class="search-icon left"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
							<div class="search-input left">
								<input type="text" ng-model="query" placeholder="Search" autocomplete="off" maxlength="120" ng-keyup="search()">
							</div>
							<div class="search-input-clear right" ng-show="query"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="query=''"></span></div>
							<div class="popover-menu"></div>
						</form>
						<div id="search-results-container" ng-show="query && found.status">
							<ul id="found-channels-list" ng-show="found.channels.length > 0">
								<span class="bold">Channels <span>({{found.channels.length}})</span></span>
								<li ng-repeat="channel in found.channels">
									<div>
										<div class="result channel-name">
											<span class="bold">{{channel.name}} </span>
											<span><span class="icon glyphicon glyphicon-user"></span> {{channel.subscriptions}}</span>
											<span class="right glyphicon glyphicon-star subscribed-{{channel.subscribed}}" ng-click="subscribe(channel.name)"></span>
										</div>
										<div class="result channel-description">{{channel.description}}</div>
									</div>
								</li>
							</ul>
							<ul id="found-users-list" ng-show="found.users.length > 0">
								<span class="bold">Members <span>({{found.users.length}})</span></span>
								<li ng-repeat="user in found.users">
									<div class="left found-user">
										<div class="media-left photo left">
									    	<img class="user-photo media-object" ng-src="{{user.photoUrl}}" alt="{{user.nickName}} profile picture">
									  		<div class="right status {{user.status}}"></div>
									  	</div>
										<div class="bold result user-nickname">{{user.nickName}}</div>
										<div class="result user-description">{{user.description}}</div>
					  				</div>
					  				<div class="right chat icon glyphicon glyphicon-comment" ng-click="openDirectMessage(user.nickName)"></div>
								</li>
							</ul>
						</div>
					</div>
					<div id="recent-mentions" class="col-lg-2 col-md-2 col-sm-2 right">
						<div class="icon right" ng-click="showMentions()">
							<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
							<span class="badge" ng-show="mentions > 0">{{mentions}}</span>
						</div>
					</div>
				</div>
			</header>
		</div>
	</div>
	<div id="main-activity-window" class="row">
		<!-- Sidebar & lists -->
		<div class="sidebar hidden-xs col-lg-2 col-md-2 col-sm-3">
			<div id="channels-list">
				<span class="list-header">Channels <span class="counter" ng-hide="length(channels) == 0">({{length(channels)}})</span><span data-toggle="modal" data-target="#create-channel-form" class="icon right glyphicon glyphicon-plus-sign"></span></span>
				<ul>
					<li id="channel-{{channel.name}}" ng-repeat="channel in channels" ng-click="openChannel(channel.name)"><span class="italic">&#35;</span> {{channel.name}} <span class="right user-mention glyphicon glyphicon-tag" ng-show="channel.mentions > 0"></span><span class="right badge" ng-show="channel.newMessages > 0">{{channel.newMessages}}<span ng-show="channel.newMessages >= 10">+</span></span><span ng-click="unsubscribe(channel.name)" class="remove icon right glyphicon glyphicon-remove-circle"></span></li>
				</ul>
			</div>
			<div id="direct-messages-list">
				<span class="list-header">Direct Messages <span id="" class="icon right glyphicon glyphicon-plus-sign"></span></span>
				<ul>
					<li id="message-{{directMessage.user.nickName}}" ng-repeat="directMessage in directMessages" ng-click="openDirectMessage(directMessage.user.nickName)"><span id="other-user-status" class="status {{directMessage.user.status}}"></span><span class="other-user-nickName">{{directMessage.user.nickName}}</span><span class="right user-mention glyphicon glyphicon-tag" ng-show="directMessage.mentions > 0"></span><span class="right badge" ng-show="directMessage.newMessages > 0">{{directMessage.newMessages}}<span ng-show="directMessage.newMessages >= 10">+</span></span></li>
				</ul>
			</div>
		</div>
		<!-- Main activity window (active chat & typing area) -->
		<div id="activity-window" class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
			<!-- Active chat -->
			<div id="active-chat">
				<div id="chat-console">
					<div data-index="{{$index}}" ng-repeat="(id, message) in activeChat.messages | orderMessagesBy: message.lastUpdate: true" class="row messages-item">
						<div class="pull-left media-left photo">
					    	<img class="sender-photo media-object" ng-src="{{message.from.photoUrl}}" alt="{{message.from.nickName}} profile picture">
					  	</div>
					  	<div class="message-body mention-{{message.mention}}">
				    		<div class="row sender nickname">
				    			<span class="left bold message-sender" ng-click="openDirectMessage(message.from.nickName)">
				    				{{message.from.nickName}}
				    			</span>
				    			<span class="right align-right message-time">{{message.time}}</span>
				    		</div>
							<div class="row message-text">
								<span class="col-md-11 col-sm-11 col-xs-11">{{message.text}}</span>
								<span class="col-md-1 col-sm-1 col-xs-1 align-right reply-message-icon right glyphicon glyphicon-new-window" ng-click="openThread(message)" ng-show="(isChannel && activeChat.subscribers[message.from.nickName] !== undefined) || isDirectMessage">
								</span>
							</div>
							<div class="row message-last-reply" ng-show="message.lastReply" ng-click="openThread(message)">
								<div class="photo">
							    	<img class="media-object last-reply-photo" ng-src="{{message.lastReply.from.photoUrl}}" alt="{{message.lastReply.from.nickName}} profile picture">
							  	</div>
							  	<span class="message-replies-count" ng-click="openThread(message)">
							  		{{message.repliesCount == 1 ? "1 reply" : message.repliesCount + " replies"}}
							  	</span>
							  	<span class="view-thread-messages">View thread</span>
							  	<span class="last-reply-time">Last reply: {{message.lastReply.time}}</span>
							  	<span class="glyphicon glyphicon-chevron-right right"></span>
							</div>
						</div>
					</div>
				</div>
				<div id="view-last-messages" ng-show="viewLastMessages" ng-click="showLastMessages()">
					<span id="arrow" class="glyphicon glyphicon-menu-down"></span>
					<span id="new-messages-count" class="badge" ng-show="activeChat.newMessages > 0">
						{{activeChat.newMessages}}
					</span>
				</div>
			</div>
			<!-- Typing area -->
			<div id="typing-area" class="col-lg-10 col-md-10 col-sm-9 col-xs-12" ng-show="activeChat !== undefined">
				<div id="input-message-container">
					<div class="addon-button">
						<span class="icon left glyphicon glyphicon-paperclip"></span>
					</div>
					<div id="input-message" class="left col-lg-10 col-md-10 col-sm-10 col-xs-9">
						<form name="inputMessageForm" novalidate ng-submit="inputMessageForm.$valid && send()" >
							<input type="text" class="left" ng-model="inputMessage" autocomplete="off" maxlength="500" placeholder="Message {{activeChat && isChannel ? '#' + activeChat.name : '@' + activeChat.user.nickName}}" required>
						</form>
					</div>
					<div id="send-button">
						<span class="icon right glyphicon glyphicon-send" ng-click="send()" ng-hide="inputMessage == undefined || inputMessage == ''"></span>
					</div>
				</div>
			</div>
		</div>
		<div id="active-thread" ng-show="activeThread">
			<div id="thread-header">
				<div>
					<h4 class="bold">Thread</h4>
					<h5>{{activeThread.from.nickName}}</h5>
				</div>
				<div class="right" id="close-thread">
					<span class="glyphicon glyphicon-remove" ng-click="closeThread()"></span>
				</div>
			</div>
			<div id="thread-parent">
				<div class="media-left photo left">
			    	<img class="sender-photo media-object" ng-src="{{activeThread.from.photoUrl}}" alt="{{activeThread.from.nickName}} profile picture">
			  	</div>
			  	<div id="thread-sender" class="sender nickname"><span class="bold message-sender" ng-click="openDirectMessage(activeThread.from.nickName)">{{activeThread.from.nickName}}</span><span id="thread-time" class="message-time">{{activeThread.time}}</span><span id="thread-back-button" class="right glyphicon glyphicon-share-alt" ng-hide="activeThread.isMain" ng-click="openThread(threads[activeThread.parentId])"></span></div>
			  	<div id="thread-source">{{isChannel ? activeChat.name : "Direct message"}}</div>
			  	<blockquote id="thread-message"><p>{{activeThread.text}}</p></blockquote>
			  	<span id="thread-replies-count">{{threads[activeThread.id].repliesCount == 0 ? "no replies" : ""}}{{threads[activeThread.id].repliesCount == 1 ? "1 reply" : ""}}{{threads[activeThread.id].repliesCount > 1 ? threads[activeThread.id].repliesCount + " replies" : ""}}</span>
			</div>
			<div id="thread-console">
				<div data-index="{{$index}}" ng-repeat="(id, message) in activeThread.replies | orderMessagesBy: message.lastUpdate: true" class="messages-item">
					<div class="media-left photo left">
				    	<img class="sender-photo media-object" ng-src="{{message.from.photoUrl}}" alt="{{message.from.nickName}} profile picture">
				  	</div>
				  	<div class="message-body mention-{{message.mention}}">
			    		<div class="sender nickname">
			    			<span class="bold message-sender" ng-click="openDirectMessage(message.from.nickName)">
			    				{{message.from.nickName}}
			    			</span>
			    			<span class="right message-time">{{message.time}}</span>
			    		</div>
						<div class="message-text">
							{{message.text}}
							<span class="reply-message-icon right glyphicon glyphicon-new-window" ng-click="openThread(message)" ng-show="(isChannel && activeChat.subscribers[message.from.nickName] !== undefined) || isDirectMessage">
							</span>
						</div>
						<div class="reply message-last-reply" ng-show="message.lastReply" ng-click="openThread(message)">
							<div class="photo">
						    	<img class="media-object last-reply-photo" ng-src="{{message.lastReply.from.photoUrl}}" alt="{{message.lastReply.from.nickName}} profile picture">
						  	</div>
						  	<span class="message-replies-count" ng-click="openThread(message)">
						  		{{message.repliesCount == 1 ? "1 reply" : message.repliesCount + " replies"}}
						  	</span>
						  	<span class="view-thread-messages">View thread</span>
						  	<span class="last-reply-time">Last reply on: {{message.lastReply.time}}</span>
						  	<span class="glyphicon glyphicon-chevron-right right"></span>
						</div>
					</div>
				</div>
			</div>
			<div id="thread-typing-area" class="col-lg-4 col-md-4 col-sm-4 col-xs-10" ng-show="activeThread.repliable">
				<div id="input-reply-container">
					<div id="input-reply" class="left col-lg-11 col-md-11 col-sm-10 col-xs-10">
						<form name="inputReplyForm" novalidate ng-submit="inputReplyForm.$valid && reply()" >
							<input type="text" class="left" ng-model="inputReply" autocomplete="off" maxlength="500" placeholder="Reply {{activeThread.from.nickName}}'s message" required>
						</form>
					</div>
					<div id="send-reply-button">
						<span class="icon right glyphicon glyphicon-send" ng-click="reply()" ng-hide="inputReply == undefined || inputReply == ''"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="create-channel-form" class="modal fade" role="dialog">
		 <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Create a channel</h4>
		      	</div>
		      	<div class="modal-body">
			        <div id="create-channel-form">
						<div class="notification channel-creation-notification"></div>
						<form name="create-channel-form" ng-submit="createChannel()">
							<div class="form-group">
								<label for="channel-name">Channel Name</label>
								<input type="text" ng-model="channelName" id="channel-name" maxlength="30" class="form-control" ng-keyup="validate()">
								<span ng-class="valid" aria-hidden="true"></span>
							</div>
							<div class="form-group">
								<label for="description">Description <span>(optional)</span></label>
								<input type="text" ng-model="channelDescription" id="description" maxlength="500" class="form-control">
							</div>

			      			<button type="submit" class="btn btn-default" ng-disabled="disableChannelCreation">Create Channel</button>	
						</form>
					</div>
		      	</div>
		    </div>
		</div>
	</div>
</div>