@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

body {
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.4em;
}

body .modal-open {
	-webkit-filter: blur(5px) grayscale(50%);
}

.inline {
	display: inline-block;
}

input:focus {
	outline: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.absolute-postion {
	position: absolute;
}

.media-object {
	height: 45px;
	width: 45px;
	border-radius: 5px;
}

.status {
	border-radius: 5px;
	border: 2px solid lightgrey;
	display: inline;
	width: 10px;
	height: 10px;
}

.active {
	background: #63D259;
	border: 2px solid #63D259;
}

.away {
	background: transparent;
}

.busy {
	background: 
}

.right-shadow {
	-webkit-box-shadow: 10px 0 5px -2px #888;
	box-shadow: 5px 5px 5px #888888;
}

li.divider {
	border-bottom: 1px solid lightgrey;
	height: 0px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

// Login page styling
#login-page {
	padding-top: 15px;
}

#login-page #login-form {
	padding: 15px;
	margin-top: 130px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

#login-page .sign-up-area div button {
	margin-top: 15px;
}

#top-header {
	height: 60px;
}

#top-header .sidebar, #top-header #main-header {
	height: 100%;
	border: none;
	z-index: 1002;
}

#top-header #main-header {
	padding: 0;
	border-bottom: 1px solid lightgrey;
	z-index: 1001;
	-webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.2);
}

#main-header .icon {
	border: none;
	font-size: 1.5em;
	margin: 4px 8px 0 8px;
	color: lightgrey;
}

#main-header .icon:hover {
	cursor: pointer;
	color: #007AB8;
}

.chat-header-info div {
	display: inline;
	padding: 0 5px 0 5px;
	height: 15px;
}

.chat-header-info div:first-child {
	padding: 0 5px 0 0;
}

.chat-header-info div:last-child {
	padding: 0 0 0 5px;
	border: none;
}

#header-member-count.icon {
	font-size: 0.8em;
	margin: 0;
	padding-right: 4px;
}

.chat-header-info .chat-members:hover, .chat-header-info .chat-members:hover #header-member-count.icon {
	cursor: pointer;
	color: #007AB8;
}

#recent-mentions .icon:hover {
	color: #EB4D5C;
}

#recent-mentions .icon .badge {
	display: inline-block;
	position: absolute;
	z-index: 1002;
	top: 15px;
	right: -15px;
	background: #EB4D5C;
	font-size: 0.5em;
}

.divider-bar {
    width: 1px;
    height: 2.4rem;
    background: lightgrey;
    margin: .5rem 0 .25rem 5px;
}

#global-header {
	padding: 0;
}

#search-container {
	width: 75%;
	padding: 0;
	border: 1px solid lightgrey;
	border-radius: 4px;
	height: 30px;
	margin-top: 2px;
}

.search-input {
	width: 75%;
	height: 28px;
	margin-left: 2px;
}

.search-input input {
	border: none;
	width: 100%;
	height: 100%;
	padding-left: 2px;
}

.search-icon {
	margin: 5px;
	color: lightgrey;
}

.search-input-clear {
	margin-right: 5px;
	margin-top: 5px;
	color: lightgrey;
}

.search-input-clear:hover {
	cursor: pointer;
	color: grey;
}

#recent-mentions {
	padding: 0;
}

.chat-header {
	padding: 0;
}

#main-activity-window .sidebar {
	-webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
	z-index: 1000;
}

.sidebar {
	background: #F8F8FA;
	z-index: 100;
}

.sidebar .icon {
	color: lightgrey;
}

.sidebar .icon:hover {
	cursor: pointer;
	color: grey;
}

.sidebar, .chat-header, .global-header {
	padding-top: 12px;
}

span#other-user-status.status {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 5px -1px 0;
}

span.user-mention.glyphicon.glyphicon-tag {
	color: #EB4D5C;
	margin: 2px;
}

#top-header .sidebar:hover {
	cursor: pointer;
}

#profile-area div {
	display: inline-block;
	vertical-align: middle;
}

#profile-dropdown-menu {
	position: absolute;
	display: block;
	z-index: 1000;
	float: left;
	top: 60px;
	left: 15px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 87%;
	background: white;
	box-shadow: 5px 5px 5px #888888;
}

#profile-dropdown-menu ul {
	list-style: none;
	padding: 0;
}

#profile-dropdown-menu ul li {
	margin: 8px 16px 8px;
	padding: 4px;
}

#profile-dropdown-menu ul li:hover {
	background: #2D9EE0;
	border-radius: 5px;
	color: white;
}

.list-header {
	text-transform: uppercase;
}

#channels-list ul, #direct-messages-list ul {
	list-style: none;
	margin-left: -15px;
	padding: 0;
}

#channels-list ul li, #direct-messages-list ul li {
	padding: 3px 0 3px 20px;
	margin-right: -5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#channels-list ul li:hover, #direct-messages-list ul li:hover {
	padding-left: 20px;
	background: #FCFCFD;
	cursor: pointer;
}

#channels-list ul li .icon.remove {
	margin: 2px 5px 0 0;
	display: none;
	vertical-align: middle;
}

#channels-list ul li:hover .icon.remove {
	display: inline;
}

#channels-list ul li.active-chat, #direct-messages-list ul li.active-chat {
	background: #CAD1D9;
	color: #FFFFFF;
}

#channels-list ul li.active-chat .icon.remove {
	color: #FFFFFF;
}

#channels-list ul li.active-chat .icon.remove:hover {
	color: grey;
}

#direct-messages-list ul li.active-chat span#other-user-status.status {
	border: 2px solid white;
}

#direct-messages-list ul li.active-chat span#other-user-status.status.active {
	border: 2px solid #63D259;
}

.badge {
	background: lightgrey;
	margin: 1px 1px 0 0;
}

#active-chat {
	height: 100%;
}

.chat-header .chat-title {
	padding-left: 20px;
}

#chat-name-container {
	margin: 5px 0 2px 0;
	font-size: 1.2em;
}

#activity-window {
	padding: 0 0 0 15px;
	position: relative;
	height: 90%;
}

#chat-console {
	height: 100%;
	overflow: auto;
	padding: 5px 0 5px 5px;
}

#typing-area .icon {
	font-size: 1.8em;
	margin: 8px 16px 8px 16px;
	color: lightgrey;
}

#typing-area {
	background: #FFFFFF;
	border-radius: 8px;
	margin-right: 15px;
}

#typing-area .icon:hover {
	cursor: pointer;
	color: #007AB8;
}

#input-message-container {
	height: 75%;
	border: 2px solid lightgrey;
	border-radius: 8px;
	background: #FFFFFF;
}

#input-message {
	height: 100%;
	width: 89%;
}

#input-message form, #input-message form input {
	border: none;
	height: 100%;
	width: 100%;
	padding: 2px;
	margin: 0;
}

.messages-item {
	padding: 6px 0;
}

.messages-item .photo {
	padding: 5px 10px 5px 0;	
}

.messages-item div {
	display: block;	
}

.messages-item .photo .sender-photo {
	width: 35px;
	height: 35px;
}

.sender.nickname {
	padding-top: 8px;
	line-height: 0.9em;
}

.message-sender {
	padding-right: 10px;
}

.message-sender:hover, .reply-message-sender:hover {
	text-decoration: underline;
	cursor: pointer;
}

.message.text {
	word-wrap: break-word;
	width: 80%;
}

.message-time {
	color: lightgrey;
}

.replied-message-container {
	display: block;
	border-radius: 5px;
	border-left: 5px solid #EB4D5C;
	background: #FFFFFF;
	padding: 5px 10px;
	margin: 5px;
}

#chat-console .messages-item .message-body {
	background: #F8F8FA;
	margin: 5px 15px 0 40px;
	border-radius: 5px;
	padding: 0 10px 5px 10px;
}

#chat-console .messages-item .message-body:hover .message-text .reply-message-icon {
	display: block;
}

.messages-item .message-body.mention-true {
	border-left: 5px solid #EB4D5C;
}

.reply-message-icon {
	display: none;
	padding: 5px 0 5px 5px;
	color: lightgrey;
}

.reply-message-icon:hover {
	cursor: pointer;
	color: #007AB8;
}

.replied-message {
	position: relative;
	margin-top: -60px;
	background: #F8F8FA;
	padding: 10px;
	border-left: 5px solid #EB4D5C;
	border-radius: 5px;
}

.replied-message-text {
	display: block;
}

.replied-message-text .icon {
	color: lightgrey;
	margin-top: -5px;
	vertical-align: middle;
}

.replied-message-text .icon:hover {
	color: grey;
	cursor: pointer;
}

#search-results-container {
	width: 120%;
	position: absolute;
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid lightgrey;
	right: -10%;
	top: 120%;
	padding: 0 5px;
	box-shadow: 5px 5px 5px #888888;
	max-height: 350px;
	overflow: auto;
}

#search-results-container ul {
	list-style: none;
	padding: 5px;
	margin-bottom: 5px;
}

.result {
	line-height: 1.3em;
}

.result.channel-name .glyphicon {
	font-size: 1.2em;
}

.result.channel-name .glyphicon-star.subscribed-false {
	color: lightgrey;
}

.result.channel-name .glyphicon-star.subscribed-true {
	color: #FFCC00;
}

.result.channel-name .glyphicon-star.subscribed-false:hover {
	color: #FFCC00;
	cursor: pointer;
}

#found-channels-list {
	border-bottom: 1px solid lightgrey;
}

#found-channels-list li, #found-users-list li {
	margin-top: 5px;
}

#found-channels-list li .result.channel-name span.icon {
	font-size: 0.8em;
	margin: 0 0 0 5px;
}

#found-channels-list li div.icon {
	top: -35px;
}

.user-photo.media-object {
	height: 35px;
	width: 35px;
}

.found-user {
	width: 85%;
}

.found-user .photo .status {
	position: relative;
	top: -9px;
	right: -1px;
	border: 2px solid #FFFFFF;
}

.found-user .photo .status.away {
	background: lightgrey;
}

#found-users-list li .chat.icon {
	display: inline;
	margin: 0;
	top: 8px;
	font-size: 1.3em;
}

.result.channel-description, .result.user-description {
	color: grey;
}

#channel-subscribers-list {
	width: 120%;
	position: absolute;
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid lightgrey;
	right: -10%;
	top: 120%;
	padding: 0 5px;
	box-shadow: 5px 5px 5px #888888;
	max-height: 350px;
	overflow: auto;
	z-index: 1010;
}

#active-thread {
	-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
}

#thread-header {
	background: #F7F7F7;
	margin: 0 -15px;
	padding-bottom: 15px;
	-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2);
}

#thread-header div {
	display: inline-block;
	padding: 0 15px;
}

#thread-header div h4 {
	margin-top: 20px;
}

#close-thread {
	margin-top: 35px;
	color: lightgrey;
}

#close-thread:hover {
	cursor: pointer;
	color: grey;
}

#thread-parent {
	padding: 15px 0 0 0;
	border-bottom: 1px solid #F7F7F7;
}

#thread-sender {
	padding: 0;
	line-height: 25px;
}

#thread-sender .message-sender {
	padding-right: 5px;
	font-size: 1.2em;
}

#thread-time {
	font-size: 0.8em;
}

#thread-source {
	line-height: 20px;
}

#thread-message {
	padding: 0 5px;
	margin: 10px 0 0 0;
	font-size: 1em;
}

#thread-replies-count {
	position: relative;
	bottom: -9px;
	background: #FFFFFF;
	padding-right: 5px;
	color: lightgrey;
	font-size: 0.8em;
}

::-webkit-scrollbar {
    width: 5px;
    padding: 5px -5px 5px 0;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #D9D9DE; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #D9D9DE; 
    -webkit-box-shadow: inset 0 0 6px #D9D9DE; 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #D9D9DE; 
}